# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/

# VS Code settings
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS junk
.DS_Store

# Logs, data, cache
*.log
*.sqlite3
*.csv
*.json

# dotenv
.env
